
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Styles.css" /> 
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hi, Welcome to the movies.</h1>
    </div>
</body>
</html>
